/*** NAVIGATION ***/
#mainNav {
  background-color: #212529; color: rgba(255, 255, 255, 0.7); }
  #mainNav .navbar-toggler {
    right: 0;
    padding: 13px;
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase; }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: white; }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.75em 0;
    letter-spacing: 1px;
}
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fed136; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      color: white;
      background-color: #212529; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }

body {
  margin: 0;
  overflow-x: hidden;
}

#test1 {
  width: 100%;
  height:100vh;
}

#about {
  width: 100%;
}

video { 
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('/assets/img/daisy.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

nav .logo {
  width: 50px;
  padding: 10px;
}

#title .logo {
  width: 125px;
  padding: 12px;
}

#title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#title h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 6em;
  text-transform: uppercase;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: white;
}

#title p {
  margin: 0 0 35px 0;
  color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

#title span {
  display: inline-block;
  vertical-align: middle;
}

#pause {
  display: none;
}

#play {
  display: none;
}

section {
  padding: 128px 0 128px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

section h1 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

section p {
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #868e96;
  /*color: rgba(255,255,255,.7);*/
}

section .content {
  width: 730px;
  margin: auto;
}

.separator {
  position: relative;
  width: 85px;
  height: 6px;
  margin: 25px auto 25px auto;
  background: linear-gradient(to right, rgb(65, 170, 230) 25%,rgb(140, 200, 60) 25%, rgb(140, 200, 60) 50%, rgb(250, 150, 30) 50%, rgb(250, 150, 30) 75%, rgb(185, 30, 50) 75%);
}

.alternate-background {
  background: rgb(235, 235, 235);
}

#about img {
  margin-top: 2.5em;
  margin-left: 1em;
  margin-right: 1em;
  height: 225px;
  width: 300px;
}

.hide {
  visibility: hidden;
}

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

#competitions a {
  display: inline-block;
  width: 100px;
  padding: .25rem 0;
  margin: 0;
  text-decoration: none;
  color: #333;
}

#competitions .two:hover ~ hr {
  margin-left: 50%;
  transform: translateX(-50%);
  background: rgb(140, 200, 60);
}

#competitions .three:hover ~ hr {
  margin-left: 50%;
  transform: translateX(50%);
  background: rgb(250, 150, 30);
}

#competitions .four:hover ~ hr {
  margin-left: 75%;
}

#competitions hr {
  height: .25rem;
  width: 100px;
  margin: 0;
  background: rgb(65, 170, 230);
  border: none;
  transition: .3s ease-in-out;

  margin-left: 50%;
  transform: translateX(-150%);
}

#competitions * {
  box-sizing: border-box;
}

#competitions  .test-container {
  width: 100%;
  margin: 0;
}

#competitions ul li {
  display: inline;
  text-align: center;
}

iframe {
  margin-top: 1em;
  margin-bottom: 1em;
}